body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
}

menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: red;
}